<app-barra-superior></app-barra-superior>
<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <ul>
    <header>
        <li><a [routerLink]='[""]'><i class="fas fa-home"></i> Inicio</a></li>
        <li><a [routerLink]='["registro"]'><i class="fas fa-home"></i> Registro</a></li>
        <li><a [routerLink]='["consulta"]'><i class="fas fa-home"></i> consulta</a></li>
    </header>

    </ul>
</div>
